<!-- src/app/medicine-search/medicine-search.component.html -->
<!-- <div>
    <input type="text" [(ngModel)]="searchQuery" (input)="onSearch()" placeholder="Search for medicines" />
    <div *ngIf="medicines.length > 0">
      <ul>
        <li *ngFor="let medicine of medicines" (click)="onSelectMedicine('abcd')">
          {{ medicine }}
        </li>
      </ul>
    </div>
  
    <div *ngIf="selectedMedicine">
      <label for="company">Company:</label>
      <select id="company" [(ngModel)]="selectedCompany" (change)="onCompanyChange(selectedCompany)">
        <option *ngFor="let company of selectedMedicine" [value]="company">{{ company }}</option>
      </select>
  
      <label for="location">Location:</label>
      <select id="location" [(ngModel)]="selectedLocation" (change)="onLocationChange(selectedLocation)">
        <option *ngFor="let location of selectedMedicine" [value]="location">{{ location }}</option>
      </select>
  
      <label for="quantity">Quantity:</label>
      <input type="number" [(ngModel)]="quantity" (change)="updatePrice()" min="1" />
    </div>
  </div> -->
  